Repository bcgov/citz-imb-slam-api, pull requests merged in 2022-05, with the labels that each got.

#68 Removing branch from manual trigger
  .github/workflows/dev-api-build-deploy.yaml
Labels: github

#66 Iod 191
  .prettierrc
  package.json
  src/app.module.ts
  src/assignedLicense/assignedLicense.controller.ts
  src/assignedLicense/assignedLicense.entity.ts
  src/assignedLicense/assignedLicense.module.ts
  src/assignedLicense/assignedLicense.service.ts
  src/common/generic.entity.ts
  src/config/typeorm.config-migrations.ts
  src/config/typeorm.config.ts
  src/health/health.controller.ts
  src/health/health.module.ts
  src/licensee/licensee.controller.ts
  src/licensee/licensee.entity.ts
  src/licensee/licensee.module.ts
  src/licensee/licensee.service.ts
  src/main.ts
  src/migrations/1651257423005-BaseMigrations.ts
  src/software/software.controller.ts
  src/software/software.entity.ts
  src/software/software.module.ts
  src/software/software.service.ts
Labels: enhancement

#71 update concurrency
  .github/workflows/dev-api-build-deploy.yaml
Labels: github

#73 IOD-191 Typo
  Dockerfile
Labels: docker

#81 IOD-117 Create Git Action for PROD Deploy
  .github/workflows/prod-api-deploy.yaml
Labels: github, openshift

#83 Updating Openshift Service Template
  openshift/templates/citz-imb-slam-api/service.yaml
Labels: openshift

#82 changed api path
  src/main.ts
Labels: DO NOT MERGE, Breaking Changes
